<p id="notice"><%= notice %></p>

<p>
<strong>
  This is <%= @person.first_name %>'s life at a glance:
</strong>
</p>  

<h2>Schools</h2>
  <ul>
    <% @schools.each do |school| %>
         <li><h4><%= school.title %>(<%= school.start_year %> - <%= school.end_year %>)</h4></li>
  <% end %>
</ul>


<h2>Life Events</h2>
  <ul>
    <% @life_events.each do |life_event| %>
      <li><h4><%= life_event.title %></h4>
          <h4><%= life_event.date %></h4>
          <h4><%= life_event.description %></h4
      </li>
  <% end %>
  </ul>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
