<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false" data-options="dropdown_autoclose: false">

  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Life Tracker!', root_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown">
        <a href="#">Tracking</a>
        <ul class="dropdown">
          <li><a href="/people">People</a></li>
          <li><a href="/schools">Schools</a></li>
          <li><a href="/life_events">Life Events</a></li>
        </ul>
    </ul>
  </section>
</nav>

<h1>Tracking what's important:</h1>
  <table>
  <thead>
    <tr>
      <th width="200">Person</th>
      <th>School</th>
      <th>Year Started</th>
      <th>Year Finished</th>
    </tr>
  </thead>
  <tbody>
   <% @recent_schools.each do |school| %>
    <tr>
      <td><%= school.person.first_name %></td>
      <td><%= school.title %></td>
      <td><%= school.start_year %></td>
      <td><%= school.end_year %></td>
    </tr>
    <% end %>
  </tbody>
</table>

  <table>
  <thead>
    <tr>
      <th width="200">Person</th>
      <th>Event</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
   <% @recent_events.each do |event| %>
    <tr>
      <td><%= event.person.first_name %></td>
      <td><%= event.title %></td>
      <td><%= event.date %></td>
      <td><%= event.description %></td>
    </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'People', people_path, class: "button" %>
<%= link_to 'Life Events', life_events_path, class: "button" %>
<%= link_to 'Schools', schools_path, class: "button" %>
